--extra-index-url https://download.pytorch.org/whl/cpu
python-decouple==3.6
numpy<1.28.0,>=1.21.6
tqdm==4.65.0
requests==2.31.0
torch==2.0.1
torchaudio==2.0.2
soundfile==0.12.1
sox==1.4.1
opensmile==2.4.2
-e file:./#egg=handcrafted_features_extraction_audio_modality